// colors
$white-color: #ffffff;
$black-color: #010311;
$gray-color: #aaabb0;
$blue-color: #060f66;
$blue-color2: #0b103f;
$lightBlue-color: #040a43;
$darkBlue-color: #020628;
$lightskyBlue-color: #00baba;
$grayText-color: #808188;
$border-color: #050c4f;
// fonts
@font-face {
  font-family: LexendDeca-Regular;
  src: url("../fonts/LexendDeca-Regular.ttf");
}
@font-face {
  font-family: Lexend-Regular;
  src: url("../fonts/Lexend-Regular.ttf");
}

$primaryFont: LexendDeca-Regular, sans-serif;
$secondaryFont: Lexend-Regular, sans-serif;

html {
  font-size: 62.5%;
}
* {
  padding: 0;
  margin: 0;
  font-family: $primaryFont;
  box-sizing: border-box;
}





